<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vinmod">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VinMod">
        <activity android:name=".AboutUs"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MapImage"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ContactUs" >
        </activity>
        <activity android:name=".ViewPost"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".NewPost"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Discussion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/> <!-- Added for the Google API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAr7HZOJRkRyEuva_B4Ag04VaNCMts6TM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Map"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Scan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Resource"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Register"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Added for the Google API -->
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="Your Api Key" />
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- dded for the camera -->
        <!-- https://developer.android.com/training/camera/photobasics#java -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>